In [4]:
from pydataset import data
import pandas as pd
import numpy as np

Copy the users and roles DataFrames from the examples above.

In [8]:
roles = pd.DataFrame({
    'id': [1,2,3,4],
    'name':['admin','author','reviewer','commenter']
})
roles


users = pd.DataFrame({
    'id':[1,2,3,4,5,6],
    'name':['bob','joe','sally','adam','jorge', 'mike'],
    'role_id':[1,2,3,3,np.nan,np.nan]
    })

users


(users.merge(roles, left_on='role_id', right_on = 'id', how='outer',indicator = True)
             .drop(columns = 'role_id')
            .rename(columns={'id_x':'id',
                            'name_x':'employee',
                             'id_y':'role_id',
                             'name_y':'role'}))

    id employee  role_id       role      _merge
0  1.0      bob      1.0      admin        both
1  2.0      joe      2.0     author        both
2  3.0    sally      3.0   reviewer        both
3  4.0     adam      3.0   reviewer        both
4  5.0    jorge      NaN        NaN   left_only
5  6.0     mike      NaN        NaN   left_only
6  NaN      NaN      4.0  commenter  right_only

What is the result of using a right join on the DataFrames?

In [10]:
users.merge(roles, left_on='role_id', right_on = 'id', how='right',indicator = True)

   id_x name_x  role_id  id_y     name_y      _merge
0   1.0    bob      1.0     1      admin        both
1   2.0    joe      2.0     2     author        both
2   3.0  sally      3.0     3   reviewer        both
3   4.0   adam      3.0     3   reviewer        both
4   NaN    NaN      NaN     4  commenter  right_only

What is the result of using an outer join on the DataFrames?

In [12]:
users.merge(roles, left_on='role_id', right_on = 'id', how='outer',indicator = True)

   id_x name_x  role_id  id_y     name_y      _merge
0   1.0    bob      1.0   1.0      admin        both
1   2.0    joe      2.0   2.0     author        both
2   3.0  sally      3.0   3.0   reviewer        both
3   4.0   adam      3.0   3.0   reviewer        both
4   5.0  jorge      NaN   NaN        NaN   left_only
5   6.0   mike      NaN   NaN        NaN   left_only
6   NaN    NaN      NaN   4.0  commenter  right_only

What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [13]:
users.merge(roles, how='outer',indicator = True)

   id       name  role_id      _merge
0   1        bob      1.0   left_only
1   2        joe      2.0   left_only
2   3      sally      3.0   left_only
3   4       adam      3.0   left_only
4   5      jorge      NaN   left_only
5   6       mike      NaN   left_only
6   1      admin      NaN  right_only
7   2     author      NaN  right_only
8   3   reviewer      NaN  right_only
9   4  commenter      NaN  right_only

Load the mpg dataset from PyDataset.

In [16]:
mpg = data('mpg')

Output and read the documentation for the mpg dataset.

In [17]:
data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

How many rows and columns are in the dataset?

In [18]:
mpg.shape

(234, 11)

Check out your column names and perform any cleanup you may want on them.

In [19]:
mpg.info

<bound method DataFrame.info of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  midsize
231  midsize
232  midsize
233  midsize
234  midsize

[234 rows x 11 columns]>

Display the summary statistics for the dataset.

In [21]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

How many different manufacturers are there?

In [98]:
len(mpg.groupby('manufacturer')[['manufacturer']].agg('count'))

15

How many different models are there?

In [109]:
man_and_model = mpg.groupby('manufacturer')[['model']].agg('count').T
man_and_model

manufacturer,audi,chevrolet,dodge,ford,honda,hyundai,jeep,land rover,lincoln,mercury,nissan,pontiac,subaru,toyota,volkswagen
model,18,19,37,25,9,14,8,4,3,4,13,5,14,34,27

Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [93]:
mpg['mileage_difference'] = mpg.hwy - mpg.cty

Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [72]:
mpg['average_mileage'] = (mpg.hwy + mpg.cty)/2

Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [96]:
mpg['is_automatic'] = np.where(mpg['trans'].str.startswith('a'), True, False)

In [97]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5,True
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0,False
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0,True
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0,False
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5,True

Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [91]:
mpg.groupby('manufacturer')[['average_mileage']].agg('mean').tail(1)

              average_mileage
manufacturer
volkswagen          25.074074

Do automatic or manual cars have better miles per gallon?

In [94]:
mpg.groupby('is_automatic')[['average_mileage']].agg('mean')

              average_mileage
is_automatic
False               22.227273
True                19.130573

## Exercise I

Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [142]:
import os
import env 

from pydataset import data
import pandas as pd
import numpy as np
from env import host, username, password 

# create the url variable (string) with my username, password and host inserted
url = f'mysql+pymysql://{username}:{password}@{host}/employees'   
    



def get_db_url(db, env_file = os.path.exists('env.py')):
    '''
    this will return a formatted string containing username, password, host, and database
    for connecting to the mysql server and the database indicated.
    env_file checks to see if the env.py exists in the cwd
    
    '''
    if env_file:
        username, password, host = (env.username, env.password, env.host)
        return f'mysql+pymysql://{username}:{password}@{host}/{db}'
    else:
        return 'you need to a username'

Use your function to obtain a connection to the employees database.

In [155]:
url = get_db_url('employees')
query = 'SELECT * FROM employees'
df = pd.read_sql(query, url)
df_emp = df
df.head()

OperationalError: (pymysql.err.OperationalError) (1040, 'Too many connections')
(Background on this error at: https://sqlalche.me/e/14/e3q8)

Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?

b. Intentionally make an error in your SQL query. What does the error message look like?

Read the employees and titles tables into two separate DataFrames.

In [152]:

df_emp = df
df_titles.head()
df.head()

OperationalError: (pymysql.err.OperationalError) (1040, 'Too many connections')
(Background on this error at: https://sqlalche.me/e/14/e3q8)

How many rows and columns do you have in each DataFrame? Is that what you expected?

In [145]:
df.shape
df_titles.shape

#yes

(100, 4)

Display the summary statistics for each DataFrame.

In [146]:
df.describe()
df_titles.describe()

             emp_no
count    100.000000
mean   10034.320000
std       18.656859
min    10001.000000
25%    10018.000000
50%    10035.500000
75%    10050.000000
max    10066.000000

How many unique titles are in the titles DataFrame?

In [147]:
df_titles.groupby('title')[['emp_no']].agg('count')

                    emp_no
title
Assistant Engineer       4
Engineer                29
Senior Engineer         23
Senior Staff            20
Staff                   20
Technique Leader         4

What is the oldest date in the to_date column?

In [47]:
df_titles[['to_date']].agg(['max'])

        to_date
max  9999-01-01

What is the most recent date in the to_date column?

In [48]:
df_titles[['to_date']].agg(['min'])

        to_date
min  1987-01-27

Use your get_db_url function to help you explore the data from the chipotle database.

In [114]:
url = get_db_url('chipotle')
query = 'SELECT * FROM orders'
df_chpl_orders = pd.read_sql(query, url)

What is the total price for each order?

In [115]:
price_int = df_chpl_orders.item_price.str.replace('$','').astype(float)

/var/folders/sg/t1npsh0d339fgq6w6l6jx3280000gn/T/ipykernel_66992/1507858231.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  price_int = df_chpl_orders.item_price.str.replace('$','').astype(float)

In [117]:
df_chpl_orders['total_price'] = price_int
df_chlp_orders = df_chpl_orders.drop(['item_price'], axis=1, inplace=True)

In [118]:
df_chpl_orders.groupby('order_id')[['total_price']].agg(['sum'])

         total_price
                 sum
order_id
1              11.56
2              16.98
3              12.67
4              21.00
5              13.70
...              ...
1830           23.00
1831           12.90
1832           13.20
1833           23.50
1834           28.75

[1834 rows x 1 columns]

What are the most popular 3 items?

In [135]:
pop_items = df_chpl_orders.groupby('item_name').quantity.agg([sum])
pop_items.sort_values(by = 'sum', ascending = False).head(3)

                     sum
item_name
Chicken Bowl         761
Chicken Burrito      591
Chips and Guacamole  506

Which item has produced the most revenue?

In [140]:
hgh_gross = df_chpl_orders.groupby('item_name').total_price.agg(['sum'])
hgh_gross.sort_values(by = 'sum', ascending = False).head(1)

                  sum
item_name
Chicken Bowl  7342.73

Join the employees and titles DataFrames together.

In [164]:
url = get_db_url('employees')
query = 'SELECT * FROM employees LIMIT 400'
df_emp = pd.read_sql(query, url)

df.head()
query_titles = 'SELECT * FROM titles LIMIT 400'

df_titles = pd.read_sql(query_titles, url)

In [167]:
emp_w_title = df_emp.merge(df_titles, left_on = 'emp_no', right_on = 'emp_no', how = 'inner', indicator = True)
emp_w_title

,emp_no,birth_date,first_name,last_name,gender,hire_date,title,from_date,to_date,_merge
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,Senior Engineer,1986-06-26,9999-01-01,both
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,Staff,1996-08-03,9999-01-01,both
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,Senior Engineer,1995-12-03,9999-01-01,both
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,Engineer,1986-12-01,1995-12-01,both
4,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,Senior Engineer,1995-12-01,9999-01-01,both
...,...,...,...,...,...,...,...,...,...,...
395,10266,1958-02-24,Sukumar,Rassart,M,1990-05-25,Senior Engineer,1990-05-25,9999-01-01,both
396,10267,1956-01-16,Shaunak,Cullers,M,1996-12-11,Engineer,1997-04-26,9999-01-01,both
397,10268,1958-06-03,Nishit,Siochi,M,1986-12-17,Engineer,1986-12-17,1990-08-17,both
398,10269,1959-10-07,Taizo,Oxman,F,1988-07-24,Engineer,1988-07-24,1996-07-24,both
399,10269,1959-10-07,Taizo,Oxman,F,1988-07-24,Senior Engineer,1996-07-24,9999-01-01,both

For each title, find the hire date of the employee that was hired most recently with that title.

In [168]:
emp_w_title.groupby('title').hire_date.agg([max])

                           max
title
Assistant Engineer  1997-05-19
Engineer            1998-10-06
Senior Engineer     1997-01-15
Senior Staff        1996-06-16
Staff               1999-04-30
Technique Leader    1994-05-21

Write the code necessary to create a cross tabulation of the number of titles by department. (Hint: this will involve a combination of SQL code to pull the necessary data and python/pandas code to perform the manipulations.)

In [ ]:
pd.crosstab(df_emp,df_)