### Format

- 10 questions worth 10 points each.

- Do not share answers or collaborate. 

- Open access to resources (online, notes, documentation)

### Example function


```python
def double_number(a):
    return a*2
    
```

## Discussion 


#### 1. What is a dataframe?


#### 2. What information can we obtain about a dataframe?


#### 3. How have we interacted with a dataframe?

In [2]:
import numpy as np
import pydataset as data
import pandas as pd

In [3]:
pokemon= pd.read_csv(r'/Users/fullspectrum/codeup-data-science/data_science_libraries/data-science-library/pokemon_data.csv')

In [4]:
pokemon.columss = [col.lower()for col in pokemon.columns]

/var/folders/sg/t1npsh0d339fgq6w6l6jx3280000gn/T/ipykernel_76603/300347692.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  pokemon.columss = [col.lower()for col in pokemon.columns]

In [5]:
pokemon.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [6]:
pokemon.shape

(800, 12)

2. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics
    

---

#### Highest and lowest values


1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument.

2. Which Pokemon possess(es) the highest HP value?

In [7]:
pokemon.sort_values(by = 'HP').tail(1)

def highest_attack(x):
    return x['HP'].max()

highest_attack(pokemon)

255

 
3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument

In [8]:
pokemon['Type 1'].nunique()

def num_types(x):
    return x['Type 1'].nunique()

num_types(pokemon)

18

4. Number of Pokemon whose Type 2 is Ghost

In [9]:
is_ghost = pokemon[pokemon['Type 2']=='Ghost'] 
len(is_ghost)

14

5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument

In [10]:
round((len(is_ghost)/len(pokemon))*100,2)

1.75

6. Number of Pokemon whose Attack is greater than Defense

In [11]:
len(pokemon[pokemon['Attack'] > pokemon['Defense']])

433

8. Lowest speed for Grass or Rock

In [12]:
g_or_r1 = pokemon[pokemon['Type 1'].isin(['Grass', 'Rock'])] 
g_or_r2 = pokemon[pokemon['Type 2'].isin(['Grass', 'Rock'])]

9. Average speed by Generation

In [13]:
pokemon.groupby('Generation')[['Speed']].agg('mean')

                Speed
Generation
1           72.584337
2           61.811321
3           66.925000
4           71.338843
5           68.078788
6           66.439024

10. Convert all the column names to lowercase letters

In [17]:
pokemon.columns = [col.lower() for col in pokemon.columns]
pokemon

,#,name,type 1,type 2,hp,attack,defense,sp. atk,sp. def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

11. Rename Sp. Attack to special-attack

In [19]:
pokemon.rename(columns={'sp. atk':'special-attack'})

,#,name,type 1,type 2,hp,attack,defense,special-attack,sp. def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

12. Rename Sp. Def to special-defense

    
13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy

15. Which Pokemon has appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument

---


Bonus: 

Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense


The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

### Define a function with the parameter a

```
def double_number(a):
    return a*2
```

In [4]:
# Pass the argument 2 to the function
double_number(2)

4