In [3]:
import pandas as pd
import numpy as np

In [4]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", 
          "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", 
          "papaya"]

fruits = pd.Series(fruits)

In [3]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Determine the number of elements in fruits.

In [13]:
fruits.count()

17

Output only the index from fruits.

In [5]:
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

Output only the values from fruits.

In [17]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

Confirm the data type of the values in fruits.

In [6]:
fruits.dtypes

dtype('O')

Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [9]:
fruits.head()
fruits.tail(3)
fruits.sample(2)

10          kiwi
14    blackberry
dtype: object

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [20]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

Run the code necessary to produce only the unique string values from fruits.

In [11]:
list(fruits.unique())

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

Determine how many times each unique string value occurs in fruits.

In [22]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

Determine the string value that occurs most frequently in fruits.

In [24]:
fruits.value_counts().nlargest(n=1, keep='first')

kiwi    4
dtype: int64

Determine the string value that occurs least frequently in fruits.

In [12]:
fruits.value_counts().nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

Capitalize all the string values in fruits.

In [15]:
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

Count the letter "a" in all the string values (use string vectorization).

In [43]:
one_fruit = ['strawberry','watermelon']
one_fruit_series = pd.Series(one_fruit)
type(one_fruit)

list

In [49]:
def a_count(string_fruit):
    counter_a = 0
    for letter in string_fruit:
        if 'a' in letter:
            counter_a += 1
    return counter_a

a_count(one_fruit)

2

In [50]:
# or fruits.str.count('a')
fruits.apply(a_count)

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

Output the number of vowels in each and every string value.

In [ ]:
def vowel_count(string_fruit):
    counter_a = 0
    for letter in string_fruit:
        if 'a' in letter:
            counter_a += 1
        if 'e' in letter:
            counter_a += 1
        if 'i' in letter:
            counter_a += 1
        if 'o' in letter:
            counter_a += 1
        if 'u' in letter:
            counter_a += 1
    return counter_a

In [52]:
fruits.apply(vowel_count)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

Write the code to get the longest string value from fruits.

In [79]:
fruit_lengths = fruits.str.len()
fruit_lengths
pd.DataFrame([fruit_lengths, fruits])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,4,5,10,9,10,16,6,10,8,4,4,4,5,9,10,10,6
1,kiwi,mango,strawberry,pineapple,gala apple,honeycrisp apple,tomato,watermelon,honeydew,kiwi,kiwi,kiwi,mango,blueberry,blackberry,gooseberry,papaya

Write the code to get the string values with 5 or more letters in the name.

In [64]:
fruits.str.len()

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64

Find the fruit(s) containing the letter "o" two or more times.

In [72]:
fruits[fruits.str.count('o') >= 2]

6         tomato
15    gooseberry
dtype: object

Write the code to get only the string values containing the substring "berry".

In [73]:
fruits[fruits.str.count('berry') == 1]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

Write the code to get only the string values containing the substring "apple".

In [74]:
fruits[fruits.str.count('apple') == 1]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

Which string value contains the most vowels?